<section id="what-is-gs">
  <h1>What is Gut Savvy?</h1>
  <p>
    Gut Savvy is a new app that helps users track the food that they eat and
  allows users to rate their gut feelings after a meal. These ratings are stored
  in our system and used to correlations between food ingredients and the
  ratings the users give them. Our app will then give the user results that
  indicate the best and worst foods for their gut, based on the users own gut
  feelings.
  </p>
</section><section id="adding-meals">
  <h1>Adding Meals</h1>
  <p>
    Add meals functionality is coming soon!
  </p>
</section>
<section id="gut-feelings">
  <h1>Gut Feelings</h1>
  <p>
    Gut Feelings are coming soon!
  </p>
</section>
<section id="interpreting-results">
  <h1>Interpreting Results</h1>
  <p>
    Results are coming soon!
  </p>
</section>
