<section id="what-is-gs">
  <h1 class='m-4 text-center'>What is Gut Savvy?</h1>
  <section class='container'>
    <p class='text-center'>
      Gut Savvy is a new app that helps users track the food that they eat and
      allows users to rate their gut feelings after a meal. These ratings are stored
      in our system and used to correlations between food ingredients and the
      ratings the users give them. Our app will then give the user results that
      indicate the best and worst foods for their gut, based on the users own gut
      feelings.
    </p>
  </section>
</section>

<section class='container text-center' id="adding-meals">
  <h3 class='mt-5'>Adding Meals</h3>
  <p>
    Add meals functionality is coming soon!
  </p>
</section>

<section class='container text-center' id="gut-feelings">
  <h3 class='mt-5'>Gut Feelings</h3>
  <p>
    Gut Feelings are coming soon!
  </p>
</section>

<section class='container text-center' id="interpreting-results">
  <h3 class='mt-5'>Interpreting Results</h3>
  <p>
    Results are coming soon!
  </p>
</section>
