<h1 class='m-4 text-center'>My Dashboard</h1>

<p class='text-center'>
  <%= link_to "Log a Meal", new_meal_path, class: 'btn btn-info' %>
  <%= link_to "See My Results", results_path, class: 'btn btn-success' %>
</p>
