<!-- Background Image -->
<section class="carousel slide landing-bg" data-ride="carousel">
  <article class="carousel-inner">
    <img src="<%= image_url('food-bg.jpg') %>" alt="Quinoa veggie dish" class="bg-img">
    <div class="carousel-caption">
      <h1 class="display-4">Gut Savvy</h1>
      <h3>Get to know your gut</h3>
      <% unless current_user %>
        <a href="/auth/google_oauth2"><img src="<%= image_url('btn_google_signin_dark_normal_web@2x.png') %>" alt="Sign in with Google" id="signin"></a>
      <% end %>
    </div>
  </article>
</section>

<!-- Five Column Section -->
<section class="container-fluid padding" id="how-it-works">
  <h1 class="text-center m-4">How it Works</h1>
  <div class="row text-center padding justify-content-center">
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <i class="fas fa-barcode fa-5x m-2 blue-icon"></i>
      <h3>Scan Food</h3>
      <p>Scan food product barcodes using your camera</p>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <i class="fas fa-carrot fa-5x m-2 green-icon"></i>
      <h3>Create Dish</h3>
      <p>Group food products into a dish</p>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <i class="fas fa-hamburger fa-5x m-2 yellow-icon"></i>
      <h3>Log Meal</h3>
      <p>Group dishes that you eat together into a meal</p>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <i class="far fa-smile fa-5x m-2 blue-icon"></i>
      <h3>Rate Feeling</h3>
      <p>Rate how you feel 1-3 hours after eating</p>
    </article>
    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <i class="far fa-chart-bar fa-5x m-2 green-icon"></i>
      <h3>See Results</h3>
      <p>Find out which ingredients strongly affect your gut</p>
    </article>
  </div>
  <hr class="my-4">
</section>

<!-- Help Section -->
<section id="help-section">
  <section class='container'>
    <h1 class='m-4 text-center'>What is Gut Savvy?</h1>
    <p class='text-center'>
      Gut Savvy is a new app that helps users track the food that they eat and
      allows users to rate their Gut feelings after a meal. These ratings are stored
      in our system and used to find correlations between food ingredients and the
      ratings the users give them. Our app will then give the user results that
      indicate the best and worst foods for their Gut, based on the users own Gut
      feelings.
    </p>
  </section>

  <section class='container text-center' id="adding-meals">
    <h3 class='mt-5'>Adding Meals</h3>
    <p>
      To use this application you must log a meal. In our system a meal can consist
      of many dishes and a dish can be made up of many foods.

      To add a meal you must visit your profile dashboard. From this page you should
      click the 'Log A Meal' button and then you will be taken to the Log a Meal page.
      From this page click 'Add a New Dish' and then from the dish page you can add the
      specific foods you ate in that dish.
    </p>
  </section>

  <section class='container text-center' id="gut-feelings">
    <h3 class='mt-5'>Gut Feelings</h3>
    <p>
      After you have created a meal you will need to add your Gut Feeling in order to
      have results. A Gut Feeling is our numeric rating system for how you feel after
      eating a meal. This system goes from 5 to -5. A rating of 5 means you are feeling
      the best, a rating of 0 means you are feeling neutral, and a rating of -5
      means you are feeling the worst.

      Your initial Gut Feeling must be applied to a meal within 72 hours of adding
      the meal to our application. This rating is able to be edited for 24 hours,
      at which point the Gut Feeling will be permanently saved in the system.
    </p>
  </section>

  <section class='container text-center' id="interpreting-results">
    <h3 class='mt-5'>Interpreting Results</h3>
    <p>
      The purpose of your results page is to help you keep track of what foods and
      ingredients are making you feel good and also which are making you feel bad.
      The results page will have several graphs and charts with information based on
      your Gut Feelings. You will need to add a Gut Feeling to 12 meals before your
      results page is populated with information.
    </p>
  </section>

</section>
