<h1 class='m-4 text-center'>Welcome to Gut Savvy</h1>

<section class='container'>
  <h3 class='m-4 text-center'>About the Application</h3>
  <p class='text-center'>Gut Savvy is a new app that helps users track the food that they eat and
    allows users to rate their gut feelings after a meal. These ratings are stored
    in our system and used to correlations between food ingredients and the
    ratings the users give them. Our app will then give the user results that
    indicate the best and worst foods for their gut, based on the users own gut
    feelings.</p>
</section>
