<h1 class='m-4 text-center'>Your Results</h1>

<section class='text-center m-4'>
  <% if current_user.ratings_needed > 0 %>
    <p>You must add a Gut Feeling to 12 meals before the results page will show your results</p>
    <p>You need to log <%= current_user.ratings_needed %> more meals with Gut Feelings </p>
  <% else %>
    <h3>Worst Ingredients</h3>
    <%= content_tag :div, '',
    id: 'worst-ingredients-graph',
    class: 'm-auto',
    data: {ingredients: current_user.worst_ingredients_data} %>
    <br>
    <br>
    <br>
    <hr class = 'm-5'>
    <h3>Best Ingredients</h3>
    <%= content_tag :div, '',
    id: 'best-ingredients-graph',
    class: 'm-auto',
    data: {ingredients: current_user.best_ingredients_data} %>
  <% end %>
</section>

<script>
  const colorArray = ['#FF0000', '#FF4D00', '#FF7400', '#FF9A00', '#FFC100'];

  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'worst-ingredients-graph',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: $('#worst-ingredients-graph').data('ingredients'),
    // The name of the data record attribute that contains x-values.
    xkey: 'name',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['avg_gut_feeling'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Average Gut Feeling'],
    xLabelAngle: '70',
    gridTextSize: '10',
    ymax: 0,
    ymin: -5,
    barColors: function (info) {
      if(info.y <= -4) {
        return colorArray[0];
      } else if (info.y <= -3) {
        return colorArray[1];
      } else if (info.y <= -2) {
        return colorArray[2];
      } else if (info.y <= -1) {
          return colorArray[3];
      } else if (info.y <= 0) {
          return colorArray[4];
      }
    }
  });
</script>

<script>
  const colorArrayGood = ['#059142', '#06A94D', '#06C258', '#07DA63', '#08F26E'];

  new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'best-ingredients-graph',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    data: $('#best-ingredients-graph').data('ingredients'),
    // The name of the data record attribute that contains x-values.
    xkey: 'name',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['avg_gut_feeling'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['Average Gut Feeling'],
    xLabelAngle: '70',
    gridTextSize: '10',
    ymax: 5,
    ymin: 0,
    barColors: function (info) {
      if(info.y > 4) {
        return colorArrayGood[0];
      } else if (info.y > 3) {
        return colorArrayGood[1];
      } else if (info.y > 2) {
        return colorArrayGood[2];
      } else if (info.y > 1) {
          return colorArrayGood[3];
      } else if (info.y > 0) {
          return colorArrayGood[4];
      }
    }
  });
</script>
