/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Roboto:700&display=swap');

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
  display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
  width: 400px;
  height: 250px;
}

svg {
  height:500px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.worst-graph, .best-graph {
  width: 48%;
  background-color: #EEE;
  flex: 1;
  margin: 10px 5px 10px 5px;
  padding: 15px 0px 5px 0px;
}

.timeline-graph {
  width: 98%;
  background-color: #EEE;
  flex: 1;
  margin: 0px 5px 10px 5px;
  padding: 15px 0px 5px 0px;
}

.graph-hr {
  border-top: 3px solid darkgrey;
}

.box {
  border: 3px solid darkgrey;
  background-color: lightblue;
}

.food-box {
  width: 75%;
}

.box-title {
  text-decoration: underline;
}

.blue-icon {
  color: #6BA8EC;
}

.green-icon {
  color: #3C8059;
}

.yellow-icon {
  color: #DEB887;
}

.carousel-inner img {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 700%;
  text-shadow: 2px 2px 10px #000;
  text-decoration: none !important;
}

.carousel-caption h3 {
  font-size: 200%;
  text-shadow: 2px 2px 10px #000;
  padding-bottom: 1rem;
}

.lobster {
  font-family: 'Lobster Two', cursive;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-brand {
  font-size: 2em !important;
  left: 50%;
  margin-left: -50px !important;
  position: absolute;
  display: block;
  top: 0px;
}

.navbar {
  position: relative;
  background-color: #2E933C !important;
}

#signin {
  width: 191px;
  height: 46px;
}

.creation-main {
  width: 73%;
  height: 100%;
  float: left;
  border-right: 3px solid #777;
  border-top: 3px solid #777;
}

.creation-current {
  width: 27%;
  height: 100%;
  float: right;
  padding: 5px;
  border-top: 3px solid #777;
}

.card, .meal-box {
  width: 90%;
}

.gutfeeling_graphic {
  width: 50%;
  padding: 20px;
}
