/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
  display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
  width: 400px;
  height: 250px;
}

#worst-ingredients-graph {
  height:350px;
  padding-bottom:25px;
}

#best-ingredients-graph {
  height:350px;
  padding-bottom:25px;
}

svg {
  height:500px;
}

.graph-hr {
  border-top: 3px solid darkgrey;
}

.box {
  border: 3px solid darkgrey;
  background-color: lightblue;
}

h1 {
  text-decoration: underline;
}

.box-title {
  text-decoration: underline;
}

/* .landing-bg {
  background-size: cover;
  width: 100%;
} */

.blue-icon {
  color: #6BA8EC;
}

.green-icon {
  color: #3C8059;
}

.yellow-icon {
  color: #DEB887;
}

.carousel-inner img {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 700%;
  text-shadow: 2px 2px 10px #000;
  text-decoration: none !important;
}

.carousel-caption h3 {
  font-size: 200%;
  text-shadow: 2px 2px 10px #000;
  padding-bottom: 1rem;
}

.btn-info {
  background-color: #3C8059;
  border: 1px solid #003414;
}

.lobster {
  font-family: 'Lobster Two', cursive;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-brand {
  font-size: 2em !important;
  left: 50%;
  margin-left: -50px !important;
  position: absolute;
  display: block;
  top: 0px;
}

.navbar {
  position: relative;
  background-color: #2E933C !important;
}

#signin {
  width: 191px;
  height: 46px;
}
